body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin: 50px auto;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.input-section {
    margin: 20px;
}

label {
    margin-right: 10px;
}

select, button {
    margin: 10px;
    padding: 5px;
}

#matrix-container {
    margin: 20px 0;
}

.matrix-input {
    width: 50px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#solveMatrix {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#solution {
    width: 90%;
    height: 100px;
    margin-top: 20px;
}

footer{
    color: rgb(149, 149, 149);
    margin: 5px;
    position:fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}